---
 const personalImageAlt = "Ronaldiño Rodrigo Urbina"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ronaldiño Rodrigo Urbina pero mis amigos me llaman Rodrigo. 
      Cuento con experiencia en desarrollo y administración de aplicaciones
        web  usando lenguajes como NodeJs, TypeScript, Python, PHP, React, Vue y Docker. Actualmente estoy <strong
        >desarrollando aplicaciones web conjuntamente usando servicios de <em class="italic">AWS</em></strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Co-Founder and CTO de un sistema de gestión de pedidos para pymes</strong
      >. Aunque hoy está desaparecido fue una gran aventura y avance profesional porque ha permitido salir de mi zona de 
      confort de la programación.
    </p>

    <p>
      Como profesional, cuento con una carrera universitaria y técnica.<strong
        > 
        Bachillerato, 
        Ingeniería de sistemas en la
        <em class="italic">Universidad Peruana de Ciencias Aplicadas | UPC</em>.
        Titulado, Computación e Informática en el Instituto <em class="italic">CIBERTEC</em></strong
      >.  Mi objetivo es formar parte de una empresa en la que pueda
      poner en práctica todos mis conocimientos y que me ofrezca la oportunidad de crecer en el área laboral, personal e intelectual.
    </p>
  </div>

  <img width="200" height="200" src="/me7.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
