---
const personalImageAlt = "Ronaldiño Rodrigo"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-32"
      src="/carnet2.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/ronaldinhorodrigourbina"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Rodrigo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-300 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +6 años de experiencia en desarrollo y administración de aplicaciones web en la nube. <strong
      >Ingeniero de Sistemas</strong
    > de Lima, Perú. Con interés en las aplicaciones y soluciones en la nube.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:rrodrigourbina@hotmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/ronaldinhorodrigourbina">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
